.header{

  background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
}
.page {
    align-items: center; 
    background-image: url("~/assets/background.jpg") no-repeat;
  }
  .margins{
    margin: 15;
}
  .action-image{
    height: 30;
    width: 30;
margin-left: auto;
  }
  .action-label{
      text-align: center !important;
      font-size: 15;
      font-weight: bold;
  }
  .dressdiv{
    width: 80;
    height: 80;
    margin: 0;
    padding: 0;
  }
  .dressimg{
      height: auto;
      width: auto;
  }
  .dressname{
    font-size: 14;
    color:#05375c;
    vertical-align: middle; 
  }
  .cardStyle{
    margin: 8;
    text-align: center;
background-image: url("~/assets/dashbord/Background.jpg") no-repeat;
background-size:     cover;                      
background-repeat:   no-repeat;
background-position: center center;
align-items: center;
    border-width: 1 !important;
border-color: #05375c !important; 
border-radius: 16 16 16 16 ; 

}
.st-img{
    height: 100;
    width: auto;
}
.st-txt{
    border-radius: 0 0 14 14;
    background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
    color: white;
    width: auto;
    height: 25;
}
.bgbtn{
  height: 40;
  background-image: linear-gradient(to bottom, #bf9a4d, #c7ab61, #d0bc76, #d8cd8c, #e2dea2, #e2dea2, #e2dea2, #e2dea2, #d9cd8c, #d0bc76, #c8ab61, #c09a4d);
  font-size: 14;
  text-align: center;
}
.nomeasure{
  font-size: 15;
  text-align: center;
  bottom: 0;
  top: 0;
}