.header{

  background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
}
.page {
    align-items: center; 
    background-image: url("~/assets/background.jpg") no-repeat;
  }
  .margins{
    margin: 15;
}
  .action-image{
height: 30;
width: 30;
margin-left: auto;
  }
  .action-label{
      text-align: center !important;
      font-size: 15;
      font-weight: bold;
  }

  .image{
    margin: 15;  
    height: 400;
    width: 300;
  }
  .slidimg{
      height: 70;
      width: 100; 
      border-radius: 21 21 0 0;
  }
  .clrtxt{
    text-align: center;
    font-size: 12;
    background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
    color: white;
    border-radius: 0 0 20 20;
  }
  .cardStyle{
    /* background: rgb(212, 212, 212); */
    text-align: center;
align-items: center;
    border-width: 1 !important;
border-color: #05375c !important; 
margin: 7;
width: 100;
border-radius: 21;
min-height: 120;
}
.zoomimg{
  height: 400;
  width: 400;
  border-radius: 15;

}