.header{

  background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
}
.page {
    align-items: center; 
    background-image: url("~/assets/background.jpg") no-repeat;
  }
  .margins{
    margin: 15;
}
  .action-image{
    height: 30;
    width: 30;
margin-left: auto;
  }
  .action-label{
      text-align: center !important;
      font-size: 15;
      font-weight: bold;
  }
  .dressimg{
      height: 180;
      width: 80;
  }
  .dressname{
      font-size: 15;
      color: #05375c;
      padding: 5;
  }
  .qty{
      
    font-size: 12;
    color: #05375c;
    padding: 5;
  }
  .qtytxt{
      
    font-size: 18;
    color: #6c6d6d;
    padding: 5;
  }
  .borders{
      border-width: 1;
      border-radius: 21;
      border-color: gray;
  }
  .borderscharge{
    border-width: 1;
    border-radius: 21;
    border-color: gray;
    height: 32;
  }
  .text{
      border-width:0;
      height: 25;
      width: 90;
      text-align: center;
      margin: 0;
      padding: 0;

  }
  .textcharge{
    border-width: 0;
    height: 25;
    width: 90;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5;
    margin-right: 5;
    padding: 0;
  }
  .requiretxt{
    font-size: 15;
    color: #05375c;

  }
  .metertxt{
      font-size: 15;
      color: #05375c;
  }
  .thickbrdr{
      border-width: 10;
      border-color:#05375c;
      height: 30;
      font-size: 15;
  }
  .thickbrdrprice{
    border-width: 2;
    border-color:#a3a3a3;
    height: 30;
  }
  .calenderimg{
      height: 27;
      width: 30;
  }
  .bg-border{
    border-width: 0 0 1 0;
    border-color: gray;
  }
  .pricehead{
    font-size: 18;
    color:#05375c ;
    padding-bottom: 4;
  }
  .pointtxt{
    border-width: 0;
    height: 25;
    width: 50;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .allbrdr{
    border-width: 0 0 1 0;
    border-color: gray;
    margin-bottom: 10;
  }
  .continuebtn{
    background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
    height: 50;
    width: auto;
    color: white;
    font-size: 15;
    border-radius: 25;
  }