/* Add mobile styles for the component here.  */
.header{
  background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
}
.page {
    align-items: center; 
    background-image: url("~/assets/background.jpg") no-repeat;
  }
  .margins{
    margin: 15;
}
  .action-image{
    height: 30;
    width: 30;
margin-left: auto;
  }
  .action-label{
      text-align: center !important;
      font-size: 15;
      font-weight: bold;
  }
  .grey-bg{
    background-color: rgb(189, 189, 189);
    padding-left: 15;
  
  }
  .header-txt{
    font-size: 15;
    color:#05375c ;
    margin: 3;
  
  }
  .order-txt{
    font-size: 15;
    color:#05375c ;
  }
    .stars{
        padding:0 !important;
        margin: 0 !important;
        /* margin-right: -90;  */
        background: rgb(207, 207, 207);
        border-radius: 12px;
      }
      .txtbox{
      placeholder-color: #05375c;   
       color:#05375c ;
       font-size: 13;
    }