<Page xmlns="http://schemas.nativescript.org/tns.xsd" class="parent">
    <!-- <--------------english-header---------------------->
    <ActionBar class="header" *ngIf="lang=='English'">
     <GridLayout rows="auto" columns="auto,*" >
     <Image src="~/assets/sidebar/Back Arrow.png" row="0" col="0" android:horizontalAlignment="left" stretch="aspectFill" (tap)="goBack()" class="action-image"></Image>
     <Label text="Rating and Write a Review" row="0" col="1" android:horizontalAlignment="center" class="action-label"></Label>
   </GridLayout>
    </ActionBar> 

    <!-- <--------------arabic-header---------------------->

    <ActionBar class="header" *ngIf="lang=='Arabic'">
        <RGridLayout rows="auto" columns="auto,*"  isRtl="true">
        <Image src="~/assets/sidebar/Back Arrow.png" isRtl="true" row="0" col="0" android:horizontalAlignment="left" stretch="aspectFill" (tap)="goBack()" class="action-image"></Image>
        <Label [text]="aedata.Rating_and_Write_a_Review" row="0" col="1" android:horizontalAlignment="center" class="action-label"></Label>
      </RGridLayout>
       </ActionBar> 

    <!-- <--------------english-content---------------------->
    <GridLayout  class="page" *ngIf="lang=='English'"> 
    <ScrollView  row="1" scrollBarIndicatorVisible="false">
        <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*" >
            <StackLayout row="0" col="0" class="grey-bg">
                <label class="header-txt" text="Tailor Rating and Review"></label>
                </StackLayout>

                <GridLayout row="1" col="0" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*" class="margins">
                    <WrapLayout  orientation="horizontal" > 
                        <DockLayout   stretchLastChild="false" width="100%"  *ngFor="let ratings of Ratings" >
                <GridLayout  row="0" col="0" rows="auto,auto" columns="*" class="bg-card" > 
                    <GridLayout row="0" col="0" rows="auto" columns="auto,auto" class="bg-child">
                      <label row="0" col="0" class="order-txt" verticalAlignment="middle" [text]="ratings.Value"></label>
                      <StarRating row="0" col="1"  horizontalAlignment="left" android:scaleX=".4" android:scaleY=".4"  filledBorderColor="#03426a" filledColor="#03426a"   emptyBorderColor="white" emptyColor="#9c9a9a" verticalAlignment="center" class="stars" min="5" max="5" [value]="ratings.Rating"> </StarRating>
                    </GridLayout>
                    </GridLayout>
                </DockLayout>
            </WrapLayout>

                            <TextView   editable="false" *ngFor="let review of CustomerRating" width="100%" shadow="2"  cornerRadius="15"  row="3" col="0" hint="Review" [text]="review.Review" class="txtbox"></TextView>
                        </GridLayout>

                        <StackLayout row="2" col="0" class="grey-bg">
                            <label class="header-txt" text="Material Rating and Review"></label> 
                            </StackLayout>


                            <GridLayout row="3" col="0" rows="auto,auto,auto" columns="*" class="margins">
                                <GridLayout  row="0" col="0" rows="auto" columns="*" class="bg-card" > 
                                    <GridLayout row="0" col="0" rows="auto" columns="auto,auto" class="bg-child">
                                      <label row="0" col="0" class="order-txt" verticalAlignment="middle" text="Material Rating"></label>
                                      <StarRating row="0" col="1" *ngFor="let materialrating of MaterialRating" android:horizontalAlignment="left" android:scaleX=".4" android:scaleY=".4"  filledBorderColor="#03426a" filledColor="#03426a"   emptyBorderColor="#03426a" emptyColor="#03426a" verticalAlignment="center" class="stars" min="5" max="5" [value]="materialrating.rating"> </StarRating>
                                    </GridLayout>
                                    </GridLayout>
                
                                            <TextView  shadow="2" editable="false" *ngFor="let matReview of MaterialReview" width="100%" cornerRadius="15"  row="3" col="0" hint="Material Review" [text]="matReview.review" class="txtbox"></TextView>
                                        </GridLayout>
            </GridLayout>
    </ScrollView>
</GridLayout>










    <!-- <--------------arabic-content---------------------->
    <GridLayout  class="page" *ngIf="lang=='Arabic'"> 
        <ScrollView  row="1" scrollBarIndicatorVisible="false">
            <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*" >
                <StackLayout row="0" col="0" class="grey-bg">
                    <label  horizontalAlignment="right" class="header-txt" [text]="aedata.Tailor_Rating_and_Review"></label>
                    </StackLayout>
    
                    <GridLayout row="1" col="0" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*" class="margins">
                        <WrapLayout  orientation="horizontal" > 
                            <DockLayout   stretchLastChild="false" width="100%"  *ngFor="let ratings of Ratings" >
                    <GridLayout row="0" col="0" rows="auto,auto" columns="*" class="bg-card" > 
                        <RGridLayout   isRtl="true" row="0" col="0" rows="auto" columns="auto,auto" class="bg-child">
                          <label row="0" col="0" class="order-txt" verticalAlignment="middle" [text]="ratings.Value"></label>
                          <StarRating row="0" col="1"  horizontalAlignment="left" android:scaleX=".4" android:scaleY=".4"  filledBorderColor="#03426a" filledColor="#03426a"   emptyBorderColor="white" emptyColor="#9c9a9a" verticalAlignment="center" class="stars" min="5" max="5" [value]="ratings.Rating"> </StarRating>
                        </RGridLayout>
                        </GridLayout>
                    </DockLayout>
                </WrapLayout>
    
                                <TextView   editable="false" *ngFor="let review of CustomerRating" width="100%" shadow="2"  cornerRadius="15"  row="3" col="0" hint="Review" [text]="review.Review" class="txtbox"></TextView>
                            </GridLayout>
    
                            <StackLayout row="2" col="0" class="grey-bg">
                                <label  horizontalAlignment="right" class="header-txt" [text]="aedata.Material_Rating_and_Review"></label> 
                                </StackLayout>
    
    
                                <GridLayout row="3" col="0" rows="auto,auto,auto" columns="*" class="margins">
                                    <GridLayout  row="0" col="0" rows="auto" columns="*" class="bg-card" > 
                                        <RGridLayout  isRtl="true" row="0" col="0" rows="auto" columns="auto,auto" class="bg-child">
                                          <label row="0" col="0" class="order-txt" verticalAlignment="middle" [text]="aedata.Material_Rating"></label>
                                          <StarRating row="0" col="1" *ngFor="let materialrating of MaterialRating" android:horizontalAlignment="left" android:scaleX=".4" android:scaleY=".4"  filledBorderColor="#03426a" filledColor="#03426a"   emptyBorderColor="#03426a" emptyColor="#03426a" verticalAlignment="center" class="stars" min="5" max="5" [value]="materialrating.rating"> </StarRating>
                                        </RGridLayout>
                                        </GridLayout>
                    
                                                <TextView  shadow="2" editable="false" *ngFor="let matReview of MaterialReview" width="100%" cornerRadius="15"  row="3" col="0" hint="Material Review" [text]="matReview.review" class="txtbox"></TextView>
                                            </GridLayout>
                </GridLayout>
        </ScrollView>
    </GridLayout>
    </Page>