.header{
  background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
}
.page {
    align-items: center; 
    background-image: url("~/assets/background.jpg") no-repeat;
  }
  .margins{
    margin-left: 15;
    margin-right: 15;
}
  .action-image{
    height: 30;
    width: 30;
margin-left: auto;
  }
  .action-label{
      text-align: center !important;
      font-size: 15;
      font-weight: bold;
  }
  
  .gray-bg{
    background-color:darkgray;
    margin-top: 10;
    margin-bottom: 10;
  }
  .header-txt{
    font-size: 16;
    color: #05375c;
    padding-left: 15;
    text-align: center;
}
.uncheck-img{
    height: 25;
    width: 25;
  }
  .ofertext{
      font-size: 14;
      color: #05375c;
      margin-left: 5;
  }
  .alltext{
    font-size: 13;
    color: #05375c;
  }
  .border{
    border-width: 2 0 0 0;
    margin-top: 5;
    margin-bottom: 5;
    border-color: rgb(156, 155, 155);
    
    }
    .filter{
        height: 60;
        width: 60;
    }
    .search{
        border-width: 2;
        height: 35;
        border-radius: 21;
        padding-left: 5;
        text-align: center;
        placeholder-color: darkgray;
    }
    .searchico{
        height: 28;
        width: 28;
        margin-right: 20;
    }
    .cardStyle{
        margin-bottom: 10;
      }
      .bg-card{
        border-width: 2;
        border-radius: 12;
        border-color:rgb(247, 247, 247);
        
      }
      .bg-child{
        background:white;
        padding-bottom: 0;
        padding-top: 0;
        margin-right: 1;
        border-radius: 0 0 0 15; 
      }
      .ordrimg{
        background-image: url("~/assets/dashbord/Background.jpg") no-repeat;
        height:80;
        width: 80;
        border-radius: 10 0 0 7;
      }
      .ordrimgae{
        background-image: url("~/assets/dashbord/Background.jpg") no-repeat;
        height:80;
        width: 80;
        border-radius: 0 10 7 0;
      }
      .order-txt{
          font-size: 13;
          color:#05375c ;
          margin-left: 5;
      }
      .uncheck-img{
        height: 25;
        width: 25;
      }
      .donebtn{
        background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
        color: white;
        font-size: 14;
        height: 35;
        border-radius: 18;
    }