
.header{

  background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
}
.page {
    align-items: center; 
    background-image: url("~/assets/background.jpg") no-repeat;
  }
  .margins{
    margin: 15;
}
  .action-image{
    height: 30;
    width: 30;
margin-left: auto;
  }
  .action-label{
      text-align: center !important;
      font-size: 15;
      font-weight: bold;
  }
  .uncheck-img{
    height: 30;
    width: 30;
  }
  .cardStyle{
    height: 50;
    padding: 10;
    margin-top: 20;
    margin-bottom: 10;
  }
  .genderdtxt{
      font-size: 14;
  }
  .shop-card{
    background-color: white;
    margin: 3;
    padding-left: 10;
    padding-top: 5;
    padding-bottom: 5;
}
.shop-cardadd{
    margin-top: 10;
    padding: 10;
    background-color: transparent;
    
}
.tailortxt{
    font-size: 14;
    font-weight: bold;
    color: #05375c;
    margin-bottom: -6;
    margin-top: -6;
}
.tailorcitytxt{
    
    font-size: 13;
    color: #05375c;
    text-transform: lowercase;
    margin-bottom: -6;
    margin-top: -6;
}