<Page xmlns="http://schemas.nativescript.org/tns.xsd" class="parent">
    <!-- <---------------english-header--------------------->
    <ActionBar class="header" *ngIf="lang=='English'">
     <GridLayout rows="auto" columns="auto,*" >
     <Image src="~/assets/sidebar/Back Arrow.png" row="0" col="0" android:horizontalAlignment="left" stretch="aspectFill" (tap)="goBack()" class="action-image"></Image>
     <Label text="Material Type" row="0" col="1" android:horizontalAlignment="center" class="action-label"></Label>
   </GridLayout>
    </ActionBar> 

    <!-- <---------------arabic-header--------------------->
    <ActionBar class="header" *ngIf="lang=='Arabic'">
        <RGridLayout rows="auto" columns="auto,*" isRtl="true">
        <Image src="~/assets/sidebar/Back Arrow.png" isRtl="true" row="0" col="0" android:horizontalAlignment="left" stretch="aspectFill" (tap)="goBack()" class="action-image"></Image>
        <Label [text]="aedata.Material_Type" row="0" col="1" android:horizontalAlignment="center" class="action-label"></Label>
      </RGridLayout>
       </ActionBar> 

    <!-- <---------------english-content--------------------->
    <GridLayout class="page"  *ngIf="lang=='English'">
        <ScrollView  orientation="vertical" id="scrollView"> 
            <GridLayout  class="margins" rows="*,auto" columns="*">
                <WrapLayout  orientation="horizontal" > 
                    <DockLayout   stretchLastChild="false" width="100%" class="cardStyle" shadow="4"
                    cornerRadius="25"  *ngFor="let materialtype of MaterialTypearray">
                        <Label style="z-index: 1000;" dock="left" horizontalAlignment="left" class="genderdtxt" [text]="materialtype.HeaderInEnglish" verticalAlignment="center"></Label>
           
                        <Image  #checkcompany  [src]="materialtype.Switch == true ? '~/assets/dashbord/Check box.png':'~/assets/dashbord/Unchecked.png'" value="{{materialtype.Switch}}"
                        (tap)="getcheckvalcompany(checkcompany.value,materialtype.id)" dock="right" class="uncheck-img"></Image>
                    </DockLayout >
                    
            </WrapLayout> 
            <StackLayout row="1"  col="0"  >
                <Button text="Save" verticalAlignment="bottom" style="margin-bottom: 0;" class="savebtn" (tap)="insertMaterialType()"></Button>
        </StackLayout>
                </GridLayout>
                </ScrollView>
                </GridLayout>   




                 <!-- <---------------arabic-content--------------------->
    <GridLayout class="page"  *ngIf="lang=='Arabic'">
        <ScrollView  orientation="vertical" id="scrollView"> 
            <GridLayout  class="margins" rows="*,auto" columns="*">
                <WrapLayout  orientation="horizontal" > 
                    <RDockLayout  isRtl="true" stretchLastChild="false" width="100%" class="cardStyle" shadow="4"
                    cornerRadius="25"  *ngFor="let materialtype of MaterialTypearray">
                        <Label style="z-index: 1000;" dock="left" horizontalAlignment="left" class="genderdtxt" [text]="materialtype.HeaderInArabic" verticalAlignment="center"></Label>
           
                        <Image  #checkcompany  [src]="materialtype.Switch == true ? '~/assets/dashbord/Check box.png':'~/assets/dashbord/Unchecked.png'" value="{{materialtype.Switch}}"
                        (tap)="getcheckvalcompany(checkcompany.value,materialtype.id)" dock="right" class="uncheck-img"></Image>
                    </RDockLayout >
                    
            </WrapLayout> 
            <RStackLayout isRtl="true" row="1"  col="0"  >
                <Button [text]="aedata.Save" verticalAlignment="bottom" style="margin-bottom: 0;" class="savebtn" (tap)="insertMaterialType()"></Button>
        </RStackLayout>
                </GridLayout>
                </ScrollView>
                </GridLayout>   
    </Page>