/* Add mobile styles for the component here.  */
.text-header{
    font-size: 17;
    font-weight: bold;
    text-align: center;  
    background-image: linear-gradient(to bottom, #05375c, #05486f, #045a83, #026d96, #0080a9);
    color: white;
  height: 50;  
  vertical-align: middle; 
  }
  .Cancelbtn{
    background-image: linear-gradient(to bottom, #bf9a4d, #c7ab61, #d0bc76, #d8cd8c, #e2dea2, #e2dea2, #e2dea2, #e2dea2, #d9cd8c, #d0bc76, #c8ab61, #c09a4d);
    color: white;
    height: 35;
    border-radius: 21;
    width: 100; 
    margin: 7;
}
.list-group-item-heading{
    font-size: 14;
}
.inputtxt{
    height: 40;
    placeholder-color: #575757;
    border-width: 1;
    border-color: rgb(214, 214, 214);
    border-radius: 5;
    text-align: center;
    
}