<ns-loader *ngIf="loader=='true'"></ns-loader>
<Page xmlns="http://schemas.nativescript.org/tns.xsd" class="parent"  *ngIf="loader=='false'">
   
    <!-- <--------------english-header---------------------->
    <ActionBar class="header" *ngIf="lang=='English'">
        <GridLayout rows="auto" columns="auto,*">
            <Image src="~/assets/sidebar/Back Arrow.png" row="0" col="0" android:horizontalAlignment="left"
                stretch="aspectFill" (tap)="goBack()" class="action-image"></Image>
            <Label text="Products" row="0" col="1" android:horizontalAlignment="center"
                class="action-label"></Label>
        </GridLayout>
    </ActionBar>

    <!-- <--------------arabic-header---------------------->
    <ActionBar class="header" *ngIf="lang=='Arabic'">
        <RGridLayout rows="auto" columns="auto,*" isRtl="true">
            <Image src="~/assets/sidebar/Back Arrow.png" isRtl="true" row="0" col="0" android:horizontalAlignment="left"
                stretch="aspectFill" (tap)="goBack()" class="action-image"></Image>
            <Label [text]="aedata.Products" row="0" col="1"  android:horizontalAlignment="center"
                class="action-label"></Label>
        </RGridLayout>
    </ActionBar>
    <!-- <---------------------english-content----------------->
    <GridLayout rows="auto,*" columns="*" *ngIf="lang=='English'"> 
        <GridLayout row="0" height="210">
            <Carousel #myCarousel [items]="myData" height="100%" width="100%" color="white"
                android:indicatorAnimation="slide" indicatorColor="#fff" indicatorOffset="0, -10" autoPagingInterval="2"
                autoPlay="true" showIndicator="true">
                <CarouselItem *ngFor="let item of myData" [backgroundColor]="item.color" verticalAlignment="middle">
                    <GridLayout>
                        <Image [src]="item.Small ? imagurl+item.Small : ''" stretch="aspectFill"></Image>
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>
        <ScrollView row="1" scrollBarIndicatorVisible="false">    
            <GridLayout class="page">
                <GridLayout rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*" class="margins">

                    <StackLayout row="0" col="0" shadow="2" cornerRadius="10" class="pr_name">
                        <Label [text]="productdetailsarray.ProductName" verticalAlignment="center" class="nametxt"></Label>
                    </StackLayout>

                <GridLayout row="1" col="0" rows="auto,auto,auto" columns="*">
                    <GridLayout row="0" col="0" rows="auto,auto" columns="*,*">
                        <Label text="Description"  row="0" col="0" class="description"></Label>
                        <StackLayout row="0" col="1"><Label [text]="productdetailsarray.CategoryName + '>' + productdetailsarray.BrandName" horizontalAlignment="right"  class="Category"></Label></StackLayout>
                    </GridLayout>
                <GridLayout row="1" col="0" rows="auto,auto" columns="*" style="margin-bottom: 10;">
                    <Label [text]="productdetailsarray.ProductDescription"  textWrap="true"  row="0" col="0" class="desc_content"></Label>
                </GridLayout>
                <GridLayout row="2" col="0" rows="auto" columns="*,*">

                    <StackLayout row="0" col="0"><Label text="Product Units (CM)" horizontalAlignment="left" class="Product_Units"></Label></StackLayout>
                    <StackLayout row="0" col="1"><Label text="EU (Size Guide)" horizontalAlignment="right" class="Size_Guide"></Label></StackLayout>
                </GridLayout>
            </GridLayout>
<!-- <-------------------------size------------IsMapped------------------->
                <GridLayout row="2" col="0" >
                    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                        <WrapLayout  orientation="vertical">
                            <GridLayout stretchLastChild="true"  height="80" width="20%" horizontalAlignment="left" >
                                <WrapLayout  orientation="vertical">
                                    <DockLayout stretchLastChild="true"    *ngFor="let size of sizearray" (tap)="getcheckvalsize(size.IsMapped,size.Id)">
                                        <Label [text]="size.Size" class="cardStyle"  shadow="2" cornerRadius="8"></Label>
                                        <Image  #checksize  [src]="size.IsMapped == true ? '~/assets/dashbord/Check box.png':''" value="{{size.IsMapped}}"
                                         dock="right"    class="uncheck-img"></Image>
                                    </DockLayout>  
                            </WrapLayout>
                            </GridLayout> 
                        </WrapLayout>  
            </ScrollView>
                </GridLayout>
                <GridLayout row="3" col="0"  class="border"></GridLayout>
<!-- <-------------------------color------------------------------->
<GridLayout row="4" col="0" >
    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
        <WrapLayout  orientation="vertical">
            <GridLayout stretchLastChild="true"  height="150" width="20%" horizontalAlignment="left" >
                <WrapLayout  orientation="vertical">
                    <DockLayout stretchLastChild="true"    *ngFor="let color of colorarrray" (tap)="getcheckvalcolor(color.IsMapped,color.Id)"> 
                       
                        <StackLayout  [ngStyle]="(color.ColorCode != '' && color.ColorCode != null)  ? {'background': color.ColorCode}:{'background-image': '~/assets/dashbord/Background.jpg'}"   class="color_cardStyle"  dock="top">
                            <Image  #checksize  [src]="color.IsMapped == true ? '~/assets/dashbord/Check box.png':''" value="{{color.IsMapped}}"
                            dock="right"    class="uncheck-color"></Image>
                        </StackLayout>
                        
                        <Label [text]="color.ColorName" dock="bottom" class="clrtxt"></Label>   
                    </DockLayout>  
            </WrapLayout>
            </GridLayout> 
        </WrapLayout>  
</ScrollView> 
</GridLayout> 
<GridLayout row="5" col="0"  class="border"></GridLayout>
<StackLayout row="6" col="0" shadow="2" cornerRadius="10" class="pr_name">
    <Label [text]="productdetailsarray.BrandName" verticalAlignment="center" class="nametxt"></Label>
</StackLayout>
<GridLayout row="7" col="0"  class="border"></GridLayout>
<StackLayout row="8" col="0" shadow="2" cornerRadius="10" class="pr_sku">
    <TextField  class="skutxt" eeditable="true" [(ngModel)]="productdetailsarray.SKU" hint="SKU"  autocorrect="false" autocapitalizationType="none"  ></TextField>
</StackLayout>
<GridLayout row="9" col="0"  class="border"></GridLayout>
<GridLayout row="10" col="0" rows="auto,auto" columns="*,*">
    <GridLayout row="0" col="1" rows="auto" columns="auto,*"  horizontalAlignment="right" *ngIf="editonlyisActive">
        <Image  #checksize row="0" col="0" [src]="isactiveimg" 
        dock="right"    class="isactive" (tap)="isActive(isactivecheck)"></Image>
        <Label  row="0" col="2" class="isactivetxt" text="Active"></Label>
    </GridLayout>
<GridLayout row="1" col="0" rows="auto,auto" columns="*">  
    <Label row="0" col="0" text="Price" class="price"></Label>    
    <TextField row="1" col="0" shadow="2" cornerRadius="10" class="cherginput" eeditable="true" [(ngModel)]="productdetailsarray.Amount"  hint="00 | 00"
    autocorrect="false" autocapitalizationType="none"  horizontalAlignment="center" verticalAlignment="center"></TextField>
</GridLayout>
<GridLayout row="1" col="1" rows="auto,auto" columns="*"> 
    <Button text="Save" class="savebtn" (tap)="insertproduct()"></Button>
</GridLayout>
</GridLayout>
                </GridLayout>  
            </GridLayout>
 
        </ScrollView>
    </GridLayout>





      <!-- <---------------------arabic-content----------------->
      <RGridLayout rows="auto,*"   isRtl="true" columns="*" *ngIf="lang=='Arabic'"> 
        <GridLayout row="0" height="210">
            <Carousel #myCarousel [items]="myData" height="100%" width="100%" color="white"
                android:indicatorAnimation="slide" indicatorColor="#fff" indicatorOffset="0, -10" autoPagingInterval="2"
                autoPlay="true" showIndicator="true">
                <CarouselItem *ngFor="let item of myData" [backgroundColor]="item.color" verticalAlignment="middle">
                    <GridLayout>
                        <Image [src]="item.Small ? imagurl+item.Small : ''" stretch="aspectFill"></Image>
                    </GridLayout>
                </CarouselItem>
            </Carousel>
        </GridLayout>
        <ScrollView row="1" scrollBarIndicatorVisible="false">    
            <RGridLayout   isRtl="true" class="page">
                <RGridLayout   isRtl="true" rows="auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto,auto" columns="*" class="margins">

                    <StackLayout row="0" col="0" shadow="2" cornerRadius="10" class="pr_name">
                        <Label  style="transform: scaleX(-1);" horizontalAlignment="center" [text]="productdetailsarray.ProductName" verticalAlignment="center" class="nametxt"></Label>
                    </StackLayout>

                <GridLayout row="1" col="0" rows="auto,auto,auto" columns="*">
                    <GridLayout row="0" col="0" rows="auto,auto" columns="*,*">
                        <Label  style="transform: scaleX(-1);" horizontalAlignment="left" [text]="aedata.Description"  row="0" col="0" class="description"></Label>
                        <StackLayout row="0" col="1"><Label  style="transform: scaleX(-1);" horizontalAlignment="right" [text]="productdetailsarray.CategoryName + '>' + productdetailsarray.BrandName"   class="Category"></Label></StackLayout>
                    </GridLayout>
                <GridLayout row="1" col="0" rows="auto,auto" columns="*" style="margin-bottom: 10;">
                    <Label  style="transform: scaleX(-1);" horizontalAlignment="left" [text]="productdetailsarray.ProductDescriptionInArabic"  textWrap="true"  row="0" col="0" class="desc_content"></Label>
                </GridLayout>
                <GridLayout row="2" col="0" rows="auto" columns="*,*">

                    <StackLayout row="0" col="0"><Label  style="transform: scaleX(-1);" horizontalAlignment="left" [text]="aedata.Product_Units_CM" horizontalAlignment="left" class="Product_Units"></Label></StackLayout>
                    <StackLayout row="0" col="1"><Label  style="transform: scaleX(-1);" horizontalAlignment="left" [text]="aedata.EU_Size_Guide" horizontalAlignment="right" class="Size_Guide"></Label></StackLayout>
                </GridLayout>
            </GridLayout>
<!-- <-------------------------size------------IsMapped------------------->
                <GridLayout row="2" col="0" >
                    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
                        <WrapLayout  orientation="vertical">
                            <GridLayout stretchLastChild="true"  height="80" width="20%" horizontalAlignment="left" >
                                <WrapLayout  orientation="vertical">
                                    <DockLayout stretchLastChild="true"    *ngFor="let size of sizearray" (tap)="getcheckvalsize(size.IsMapped,size.Id)">
                                        <Label  style="transform: scaleX(-1);" horizontalAlignment="left" [text]="size.Size" style="transform: scaleX(-1);" class="cardStyle"  shadow="2" cornerRadius="8"></Label>
                                        <Image  #checksize style="transform: scaleX(-1);" [src]="size.IsMapped == true ? '~/assets/dashbord/Check box.png':''" value="{{size.IsMapped}}"
                                         dock="right"    class="uncheck-img"></Image>
                                    </DockLayout>  
                            </WrapLayout>
                            </GridLayout> 
                        </WrapLayout>  
            </ScrollView>
                </GridLayout>
                <GridLayout row="3" col="0"  class="border"></GridLayout>
<!-- <-------------------------color------------------------------->
<GridLayout row="4" col="0" >
    <ScrollView orientation="horizontal" scrollBarIndicatorVisible="false">
        <WrapLayout  orientation="vertical">
            <GridLayout stretchLastChild="true"  height="150" width="20%" horizontalAlignment="left" >
                <WrapLayout  orientation="vertical">
                    <DockLayout stretchLastChild="true"    *ngFor="let color of colorarrray" (tap)="getcheckvalcolor(color.IsMapped,color.Id)"> 
                       
                        <StackLayout  [ngStyle]="(color.ColorCode != '' && color.ColorCode != null)  ? {'background': color.ColorCode}:{'background-image': '~/assets/dashbord/Background.jpg'}"   class="color_cardStyle"  dock="top">
                            <Image  #checksize style="transform: scaleX(-1);" [src]="color.IsMapped == true ? '~/assets/dashbord/Check box.png':''" value="{{color.IsMapped}}"
                            dock="right"    class="uncheck-color"></Image>
                        </StackLayout>
                        
                        <Label  style="transform: scaleX(-1);" horizontalAlignment="left" [text]="color.ColorName" dock="bottom" class="clrtxt"></Label>   
                    </DockLayout>  
            </WrapLayout>
            </GridLayout> 
        </WrapLayout>  
</ScrollView> 
</GridLayout> 
<GridLayout row="5" col="0"  class="border"></GridLayout>
<StackLayout row="6" col="0" shadow="2" cornerRadius="10" class="pr_name">
    <Label  style="transform: scaleX(-1);"  [text]="productdetailsarray.BrandName" verticalAlignment="center" class="nametxt"></Label>
</StackLayout>
<GridLayout row="7" col="0"  class="border"></GridLayout>
<StackLayout row="8" col="0" shadow="2" cornerRadius="10" class="pr_sku">
    <TextField  style="transform: scaleX(-1);" class="skutxt" eeditable="true" [(ngModel)]="productdetailsarray.SKU" hint="SKU"  autocorrect="false" autocapitalizationType="none"  ></TextField>
</StackLayout>
<GridLayout row="9" col="0"  class="border"></GridLayout>
<GridLayout row="10" col="0" rows="auto,auto" columns="*,*">
    <GridLayout row="0" col="1" rows="auto" columns="auto,*"  horizontalAlignment="right" *ngIf="editonlyisActive">
        <Image  #checksize row="0" col="0" [src]="isactiveimg" 
        dock="right"  style="transform: scaleX(-1);"  class="isactive" (tap)="isActive(isactivecheck)"></Image>
        <Label  style="transform: scaleX(-1);" horizontalAlignment="left"  row="0" col="2" class="isactivetxt" [text]="aedata.IsActive"></Label>
    </GridLayout>
<GridLayout row="1" col="0" rows="auto,auto" columns="*">  
    <Label  style="transform: scaleX(-1);" horizontalAlignment="center" row="0" col="0" [text]="aedata.Price" class="price"></Label>    
    <TextField  style="transform: scaleX(-1);" horizontalAlignment="left" row="1" col="0" style="transform: scaleX(-1);" shadow="2" cornerRadius="10" class="cherginput" eeditable="true" [(ngModel)]="productdetailsarray.Amount"  hint="00 | 00"
    autocorrect="false" autocapitalizationType="none"  horizontalAlignment="center" verticalAlignment="center"></TextField>
</GridLayout>
<GridLayout row="1" col="1" rows="auto,auto" columns="*"> 
    <Button  style="transform: scaleX(-1);"  [text]="aedata.Save" class="savebtn" (tap)="insertproduct()"></Button>
</GridLayout>
</GridLayout>
                </RGridLayout>  
            </RGridLayout>
 
        </ScrollView>
    </RGridLayout>
</Page>