<page>
    <GridLayout rows="500,auto" columns="*">
 
    
<StackLayout row="0" style="width: 300;height:auto;border-radius: 21 !important;">  
    <StackLayout class="text-header"  *ngIf="lang=='English'"> 
        <Label text="Choose Your TimeSlot" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="text-header"  *ngIf="lang=='Arabic'"> 
        <Label [text]="Choose_Your_TimeSlot" textWrap="true"></Label>
    </StackLayout>
     
    <ListView [items]="timeData"  class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout  class="list-group-item" (tap)="getTime(item.Time,item.Id)"  horizontalAlignment="center">
                <Label [text]="item.Time"  horizontalAlignment="center"  class="list-group-item-heading" 
                 ></Label>
        </StackLayout> 
        </ng-template>
     
    </ListView>   
</StackLayout>  
<StackLayout row="1" *ngIf="lang=='English'"> 
    <Button class="Cancelbtn" text="Cancel"  (tap)="close()"></Button> 
</StackLayout> 
<StackLayout row="1" *ngIf="lang=='Arabic'"> 
    <Button class="Cancelbtn" text="Cancel"  (tap)="close()"></Button> 
</StackLayout> 
</GridLayout>
</page>